.vs/
.vscode/

dev-connect.client/.DS_Store
dev-connect.client/node_modules/
dev-connect.client/dist/
dev-connect.client/obj/
dev-connect.client/obj/Debug/*
dev-connect.server/obj/
dev-connect.server/bin/
dev-connect.client/yarn.lock
dev-connect.client/package-lock.json
dev-connect.client/obj/Debug/package.g.props
